.title {
  display: grid;
  justify-content: center;
  justify-items: center;
  text-align: center;
  margin: 3rem auto;
}

.main-title {
  width: 100%;
  font-size: 2.8rem;
  letter-spacing: 5px;
  font-weight: 100;
  background: black;
  color: white;
  padding: 0.4rem;
  outline: 1px solid whitesmoke;
  outline-offset: -5px;
}

.image {
  width: 100vw;
  background: whitesmoke;
}

.title-img {
  width: 15%;
  padding: 0.8rem;
}
